<!-- Features -->
<section class="p-1 p-md-2 m-1 bg-light" aria-label="Featured Apps">
  <div class="container-fluid d-flex align-items-center flex-column">
    <div class="row text-center">
    {% for app in FEATURED_APPS %}
      <div class="col-md-3 col-sm-12 p-1 m-auto">
        <a class="featured-app-link" href="{{ app.url }}" aria-describedby="{{ app.name}}-desc">
          <img src="{{app.logo}}" class="img-fluid m-3" alt="">
          <h2 class="text-dark">{{ app.title }}</h2>
        </a>
        <p id="{{ app.name}}-desc" class="w-75">{{app.lead_text}}</p>
      </div>
    {% endfor %}
    </div>
  </div>
</section>