<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="{{ SITEURL }}">{{ SITENAME }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sitenavbar" aria-controls="sitenavbar" aria-expanded="false" aria-label="Toggle Site navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="sitenavbar">
  <ul class="navbar-nav mr-auto mx-md-3">
    <li class="nav-item">
    <a class="nav-link" href="{{ SITEURL }}">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  </div>
</nav>